ul {
  color: purple;
}

.li1 {
  color: red;
}

.li2 {
  color: green;
}

.li3 {
  color: blue;
}

.dhfjsgjdfasjdfaskj {
  color: crimson;
}

#odlomak1 {
  color: red;
}

#odlomak2 {
  color: green;
}

#odlomak3 {
  color: blue;
}
